<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Uspeek Test Suite">
    <test name="All Tests">
        <classes>
            <class name="com.uspeek.tests.SignupTest"/>
            <class name="com.uspeek.tests.LoginTest"/>
            <class name="com.uspeek.tests.DatabaseHealthApiTest"/>
            <class name="com.uspeek.tests.ExportDataApiTest"/>
            <class name="com.uspeek.tests.LicensesApiTest"/>
            <class name="com.uspeek.tests.LearningProgressApiTest"/>
        </classes>
    </test>
</suite>
