<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Uspeek Test Suite">
    <test name="All Tests">
        <classes>
            <class name="com.uspeek.tests.SignupTest"/>
            <class name="com.uspeek.tests.LoginTest"/>
            <class name="com.uspeek.tests.DashboardUITest"/>
            <class name="com.uspeek.tests.SettingsUITest"/>
            <class name="com.uspeek.tests.LearningLessonsUITest"/>
            <class name="com.uspeek.tests.ProfileUITest"/>
        </classes>
    </test>
</suite>
